snippet ir "import React" b
import React from 'react';
endsnippet

snippet edcrc "class extends React.Component" b
export default class ${1:ClassName} extends React.Component {
  ${2}
}
endsnippet

snippet render "React render method" b
render() {
  return(
	  ${1}
	);
}
endsnippet
